body {
  margin: 30px auto;
  font-family: "Open Sans", sans-serif;
  color: #4b0082;
}
.container {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  background-image: url("../images/17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 900px;
}

.dark .container {
  background-image: url("../images/19.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.dark .day {
  background: rgba(255, 255, 255, 0.2);
}
.dark a {
  color: white;
}
.dark a:hover {
  text-decoration: underline;
}
.dark .day:hover {
  transform: scale(1.2);
  color: white;
}

#city-input {
  border-radius: 20px;
  padding: 6px 9px;
  border: none;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#submit {
  border-radius: 20px;
  padding: 6px 9px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#submit:hover {
  background: #4b0082;
  color: white;
}
.col {
  padding: 0 0;
}
h1 {
  font-size: 70px;

  line-height: 28px;
  margin-top: 70px;

  text-transform: capitalize;
}

#date {
  font-size: 20px;
  margin: 20px 0;
}

#temperature {
  font-size: 85px;
  font-weight: bold;
  position: relative;
  left: -15px;
}
#icon {
  position: relative;
  top: -30px;
}
.main-temp {
  margin: 0;
  padding: 0;
}

.units {
  position: relative;
  font-size: 16px;
  top: -52px;
  left: -20px;
}
.main-temp .active {
  font-weight: bold;
  cursor: default;
  font-size: 25px;
}
.main-temp .active:hover {
  text-decoration: none;
  color: #4b0082;
}

a {
  color: #4b0082;
  text-decoration: none;
}
a:hover {
  color: fuchsia;
  text-decoration: none;
}
.indicators {
  display: block;
  text-align: end;
  text-transform: capitalize;
}
li {
  font-size: 19px;
  font-weight: 100;
  margin: 0 auto;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}
ul {
  padding: 0;
}

button {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  font-size: 20px;
  padding: 3px 9px;
  border-radius: 100px;
  position: relative;
  top: 2px;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
button:hover {
  background: white;
  color: #4b0082;
}
.city-form {
  text-align: end;
  top: 20px;
  position: relative;
}

.day {
  text-align: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  font-size: 19px;
  transition: all 200ms ease-in-out;
}

.day:hover {
  transform: scale(1.2);
  color: #4b0082;
}
footer {
  margin-top: 20px;
  display: block;
  text-align: end;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
  #temperature {
    font-size: 70px;
  }
  li {
    font-size: 15px;
  }
  .main-temp {
    position: relative;
    left: 20px;
  }
}
